nav{
    width: auto;
    height: 7vh;
}

.name > a{
    text-decoration: none;
    position: relative;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0.5rem;
    left: 1.5rem;
    text-shadow: 2px solid grey;
    width: max-content;
}

.name > a >h1{
    color: white;
}

.authenticate{
    gap: 2rem;
    display: flex;
    flex-direction: row;
    float: right;
    position: absolute;
    right: 0;
    top: 2vh;
    margin-right: 2rem;
}

.authenticate > p{
    font-size: 1.3rem;
    font-family:'Courier New', Courier, monospace;
    color: white;
    font-weight: 600;
}

.authenticate > img{
    width: 1.6rem;
    height: 1.6rem;position: relative;
    right: -1.5rem;
}
.authenticate > .log {
    background-color: #383434;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
    top: -10px;
}

.authenticate > .log > a{
    text-decoration: none;
    color: beige;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;

}

.line > hr{
    font-weight: 600px;
    color: black;
}

hr > .line{
    color: black;
}

@media only screen and (max-width: 435px) {
    .authenticate img{
        display: none;
    }
  }
@media only screen and (max-width: 376px) {
    .authenticate p{
        display: none;
    }
  }